<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.203908665"
        tools:targetApi="31">
        <activity
            android:name=".SamTatlisi"
            android:parentActivityName=".HatayinTatlileri"
            android:exported="false" />
        <activity
            android:name=".KitirKabakTatlisi"
            android:parentActivityName=".HatayinTatlileri"
            android:exported="false" />
        <activity
            android:name=".HatayKombesi"
            android:parentActivityName=".HatayinTatlileri"
            android:exported="false" />
        <activity
            android:name=".HatayKunefe"
            android:parentActivityName=".HatayinTatlileri"
            android:exported="false" />
        <activity
            android:name=".HatayYoresi"
            android:parentActivityName=".HatayinYemekleri"
            android:exported="false" />
        <activity
            android:name=".Felleahkoftesi"
            android:parentActivityName=".HatayinYemekleri"
            android:exported="false" />
        <activity
            android:name=".KaytazBoregi"
            android:parentActivityName=".HatayinYemekleri"
            android:exported="false" />
        <activity
            android:name=".IcliKofte"
            android:parentActivityName=".HatayinYemekleri"
            android:exported="false" />
        <activity
            android:name=".PayasKalesi"
            android:parentActivityName=".HatayinTarihiYerleri"
            android:exported="false" />
        <activity
            android:name=".IssosAntikKenti"
            android:parentActivityName=".HatayinTarihiYerleri"
            android:exported="false" />
        <activity
            android:name=".TitusTuneliVeBesikliMagara"
            android:parentActivityName=".HatayinTarihiYerleri"
            android:exported="false" />
        <activity
            android:name=".StPierreKilisesi"
            android:parentActivityName=".HatayinTarihiYerleri"
            android:exported="false" />
        <activity
            android:name=".HatayArkeolojiMuzesi"
            android:parentActivityName=".HatayinTarihiYerleri"
            android:exported="false" />
        <activity
            android:name=".HatayinTatlileri"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HatayinYemekleri"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HatayinTarihiYerleri"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Hatay"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>